<section id="blog-header">
    <div class="article-title-{{ section.id }}"> <h1>{{ section.settings.title }}</h1> </div>
    <div class="article-info-{{ section.id }}">
        Posted on: <span>{{ section.settings.article-info-date }}</span> - Words by <span>{{ section.settings.article-info-writer }}</span>
    </div>
    <div class="article-publisher-{{ section.id }}">
        Posted in <span>{{ section.settings.article-published-in }}</span> at
        
        {% for block in section.blocks %}
            {% case block.type %}
                {% when "page-names" %}
                    <a href="{{ block.settings.page-url }}" class="category-{{ section.id }}">{{ block.settings.page-category-name }}</a>
            {% endcase %}
        {% endfor %}
    </div>
</section>

<style>
.article-title-{{ section.id }} {
    text-align: center;
    padding: 0 {{ section.settings.title-padding }}%;
    color: rgb(51, 51, 51);
    margin-bottom: 20px;
}
.article-title-{{ section.id }} h1 {
    margin: 0;
    font-family: {{ section.settings.title-font }};
}
.article-publisher-{{ section.id }}, .article-info-{{ section.id }} {
    text-align: center;
    font-size: 12px;
    color: rgb(122, 122, 122);
}
a.category-{{ section.id }} {
    text-decoration: underline;
    color: inherit;
    font-weight: bold;
}

.article-info-{{ section.id }}, .article-publisher-{{section.id}} {
    font-family: {{ section.settings.info-font }};
}

</style>

{% schema %}
{
    "name": "Article Header",
    "settings": [
        {
            "type": "font",
            "id": "title-font",
            "label": "Choose Title Font"
        },
        {
            "type": "font",
            "id": "info-font",
            "label": "Choose Info Font"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Journal title, its' a pretty long one too",
            "label": "Title"
        },
        {
            "type": "text",
            "id": "article-info-date",
            "default": "13/10/2022",
            "label": "Date"
        },
        {
            "type": "text",
            "id": "article-info-writer",
            "default": "Lizzie",
            "label": "Writer"
        },
        {
            "type": "text",
            "id": "article-published-in",
            "default": "Integrity",
            "label": "Writer"
        },
        {
            "type": "range",
            "id": "title-padding",
            "min": 0,
            "max": 100,
            "unit": "%",
            "step": 10,
            "label": "Title Padding",
            "default": 30
        }
    ],
    "blocks": [
        {
            "name": "Page Names",
            "type": "page-names",
            "settings": [
                {
                    "type": "text",
                    "id": "page-category-name",
                    "default": "Wax",
                    "label": "Page Name"
                },
                {
                    "type": "url",
                    "id": "page-url",
                    "label": "Page Url"
                }
            ]
        }
    ]
}
{% endschema %}