{% for block in section.blocks %}
    {% case block.type %}
        {% when 'double-image-with-text' %} 
            <div id="wrapper-{{ block.id }}">
                <section class="double-image-container-{{ block.id }}">

                    <div class="potrait-image-container-{{ block.id }}">
                        <img src="{{ block.settings.image-portrait | img_url: "master" }}" class="image-p-{{ block.id }}">
                    </div>

                    <div class="image-with-text-container-{{ block.id }}">
                        <div class="landscape-image-container-{{ block.id }}">
                            <img src="{{ block.settings.image-landscape | img_url: "master" }}" class="image-l-{{ block.id }}">
                        </div>
                        <div class="title-{{ block.id }}">{{ block.settings.title }}</div>
                        <div class="description-{{ block.id }}">{{ block.settings.description }}</div>
                        <div class="link-{{ block.id }}">
                            <a href="{{ block.settings.url }}">{{ block.settings.url-text }}</a>
                        </div>
                    </div>

                </section>
            </div>
        
        {% when 'spacer' %}
            <section class="custom-spacer-{{ block.id }}">

            </section>
    {% endcase %}
{% endfor %}

<style>
{% for block in section.blocks %}
    {% case block.type %}
        {% when 'double-image-with-text' %}
            #wrapper-{{ block.id }} {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .double-image-container-{{ block.id }} {
                display: flex;
                gap: {{ block.settings.gap }}%;
                width: {{ block.settings.section-width }}%;
            }
            .potrait-image-container-{{ block.id }} {
                width: 50%;
                display: flex;
                justify-content: space-evenly;
                padding-top: {{ block.settings.padding-top }}%; 
            }
            .image-with-text-container-{{ block.id }} {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-items: flex-start;
            }
            .landscape-image-container-{{ block.id }} {
                width: 100%;
            }
            .image-p-{{ block.id }} {
                width: 100%;
                height: auto;
                max-width: 651px;
                max-height: 868px;
            }
            .image-l-{{ block.id }} {
                width: 100%;
                max-width: 720px;
                max-height: 480px;
            }
            .link-{{ block.id }} a {
                text-decoration: none;
                color: #2b2724;
                font-size: 14px;
                text-transform: uppercase;
                padding-bottom: 7px;
                border-bottom: 1px solid #2b2724;
            }
            .title-{{ block.id }} {
                font-family: {{ block.settings.title-font }};
                font-size: {{ block.settings.title-font-size }}px;
            }
            .description-{{ block.id }} {
                font-family: {{ block.settings.description-font }};
                font-size: {{ block.settings.description-font-size }}px;
                text-align: justify;
                width: {{ block.settings.description-width }}%;
            }
            {% if block.settings.gap > 0 %}
                .potrait-image-container-{{ block.id }} {
                    width: calc(50% - ({{ block.settings.gap }}%/2));
                }
                .image-with-text-container-{{ block.id }} {
                    width: calc(50% - ({{ block.settings.gap }}%/2));
                }
            {% endif %}
            {% if block.settings.title-italic == true %}
                .title-{{ block.id }} {
                    font-style: italic;
                }
            {% endif %}
        {% when 'spacer' %}
            .custom-spacer-{{ block.id }} {
                height: {{ block.settings.spacer }}px;
            }    

    {% endcase %}
{% endfor %}
</style>

{% schema %}
{
    "name": "Double Image with Text",
    "settings": [

    ],
    "blocks": [
        {
            "name": "Double Image with Text",
            "type": "double-image-with-text",
            "settings": [
                {
                    "type": "range",
                    "id": "section-width",
                    "min": 50,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 100,
                    "label": "Block Width"
                },
                {
                    "type": "image_picker",
                    "id": "image-portrait",
                    "label": "Choose Portrait Image"
                },
                {
                    "type": "image_picker",
                    "id": "image-landscape",
                    "label": "Choose Landscape Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title",
                    "default": "Tangible Strides"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "url-text",
                    "label": "URL Name",
                    "default": "learn more about our way"
                },
                {
                    "type": "url",
                    "id": "url",
                    "label": "URL"
                },
                {
                    "type": "range",
                    "id": "padding-top",
                    "label": "Portrait Image Position",
                    "min": 0,
                    "max": 20,
                    "default": 12,
                    "unit": "%",
                    "step": 1
                },
                {
                    "type": "range",
                    "id": "gap",
                    "label": "Column Gap",
                    "min": 0,
                    "max": 20,
                    "default": 0,
                    "unit": "%",
                    "step": 1
                },
                {
                    "type": "font",
                    "id": "title-font",
                    "label": "Title Font"
                },
                {
                    "type": "range",
                    "id": "title-font-size",
                    "min": 14,
                    "max": 30,
                    "step": 1,
                    "unit": "px",
                    "default": 26,
                    "label": "Title Font Size"
                },
                {
                    "type": "checkbox",
                    "id": "title-italic",
                    "label": "Title Italic",
                    "default": true
                },
                {
                    "type": "font",
                    "id": "description-font",
                    "label": "Description Font"
                },
                {
                    "type": "range",
                    "id": "description-font-size",
                    "min": 14,
                    "max": 20,
                    "step": 1,
                    "unit": "px",
                    "default": 16,
                    "label": "Description Font Size"
                },
                {
                    "type": "range",
                    "id": "description-width",
                    "min": 50,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 100,
                    "label": "Description Width"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ]
}
{% endschema %}