 {% for block in section.blocks %}
    {% case block.type %}
        {% when 'hero-about-us' %} 
            <div id="wrapper-{{ block.id }}"> 
                <section class="about-us-{{ block.id }}">
                    <div class="text-{{ block.id }}">
                        <h1 class="title-{{ block.id }}">{{ block.settings.header-title }}</h1>
                        <div class="description-{{ block.id }}">
                            <p>{{ block.settings.description }}</p>
                        </div>
                        <div class="history-description-{{ block.id }}">
                            <p>{{ block.settings.history-description }}</p>
                        </div>
                    </div>
                    <div class="image-container-{{ block.id }}">
                        <img src="{{ block.settings.image | img_url: "master" }}">
                    </div>
                </section>
            </div>

        {% when 'spacer' %}
            <section class="custom-spacer-{{ block.id }}">

            </section>
    {% endcase %}
{% endfor %}
<div class="hr-parent-{{ section.id }}">
    <hr class="hr-{{ section.id }}">
</div>
<style>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'hero-about-us' %}
                #wrapper-{{ block.id }} {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .about-us-{{ block.id }} {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: stretch;
                    width: {{ section.settings.section-width }}%;
                }
                .text-{{ block.id }} {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                .text-{{ block.id }} h1 {
                    margin-bottom: 28px;
                    margin-top: 10px;
                }
                .image-container-{{ block.id }} {
                    display: flex;
                    justify-content: center;
                    {% comment %} align-items: stretch; {% endcomment %}
                }
                .title-{{ block.id }} {
                    font-size: {{ block.settings.title-font-size }}px;
                    font-family: {{ block.settings.title-font }};
                    color: #2B2725;
                }
                .description-{{ block.id }} {
                    font-size: 26px;
                    color: #000000;
                    font-size: {{ block.settings.description-font-size }}px;
                    letter-spacing: {{ block.settings.description-letter-spacing }}em;
                    line-height: {{ block.settings.description-line-height }}px;
                    font-family: {{ block.settings.description-font }};
                    width: {{ block.settings.description-width }}%;
                }
                .history-description-{{ block.id }} {
                    font-size: {{ block.settings.history-font-size }}px;
                    letter-spacing: {{ block.settings.history-letter-spacing }}em;
                    line-height: {{ block.settings.history-line-height }}px;
                    color: #000000;
                    font-family: {{ block.settings.history-font }};
                    width: {{ block.settings.history-width }}%;
                    text-align: justify;
                }
                .hr-parent-{{ section.id }}{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                } 
                hr.hr-{{ section.id }} {
                    display: none;
                    width: 93%;
                    margin: 1rem 0;
                }
                @media (max-width: 768px) {
                    .about-us-{{ block.id }} {
                        flex-wrap: wrap;
                    }
                    .text-{{ block.id }}{
                        order: 1;
                        width: 90%;
                    }
                    .image-container-{{ block.id }} {
                        order: 0;
                    }
                    .description-{{ block.id }} p {
                        margin: 0;
                    }
                    .title-{{ block.id }} {
                        font-size: 60px;
                    }
                    .description-{{ block.id }} {
                        font-size: 16px;
                        text-align: justify;
                        letter-spacing: -0.01em;
                        line-height: 23px;
                    }
                    .history-description-{{ block.id }} {
                        display: none;
                    }
                    .image-container-{{ block.id }} {
                        width: 100%;
                    }
                    .image-container-{{ block.id }} img {
                        width: 100%;
                    }
                    .about-us-{{ block.id }} {
                        width: 100%;
                    }
                    hr.hr-{{ section.id }} {
                        display: block;
                    }
                }
            {% when 'spacer' %}
                .custom-spacer-{{ block.id }} {
                    height: {{ block.settings.spacer }}px;
                }
        {% endcase %}
    {% endfor %}
</style>

{% schema %}
{
    "name": "Hero - About Us",
    "settings": [
        {
            "type": "range",
            "id": "section-width",
            "min": 30,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 100,
            "label": "Section Width"
        }
    ],
    "blocks": [
        {
            "name": "Hero - About Us",
            "type": "hero-about-us",
            "settings": [
                {
                    "type": "text",
                    "id": "header-title",
                    "label": "Title",
                    "default": "About Us"
                },
                {
                    "type": "text",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "text",
                    "id": "history-description",
                    "label": "History Description"
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "range",
                    "id": "title-font-size",
                    "min": 50,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 100,
                    "label": "Title Font Size"
                },
                {
                    "type": "range",
                    "id": "description-font-size",
                    "min": 18,
                    "max": 30,
                    "step": 1,
                    "unit": "px",
                    "default": 26,
                    "label": "Description Font Size"
                },
                {
                    "type": "range",
                    "id": "history-font-size",
                    "min": 12,
                    "max": 30,
                    "step": 1,
                    "unit": "px",
                    "default": 16,
                    "label": "History Font Size"
                },
                {
                    "type": "range",
                    "id": "description-line-height",
                    "min": 20,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 37,
                    "label": "Description Line Height"
                },
                {
                    "type": "range",
                    "id": "description-letter-spacing",
                    "min": -1,
                    "max": 5,
                    "step": 0.1,
                    "unit": "em",
                    "default": 0,
                    "label": "Description Letter Spacing"
                },
                {
                    "type": "range",
                    "id": "history-line-height",
                    "min": 20,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 28,
                    "label": "History Line Height"
                },
                {
                    "type": "range",
                    "id": "history-letter-spacing",
                    "min": -1,
                    "max": 5,
                    "step": 0.1,
                    "unit": "em",
                    "default": 0.2,
                    "label": "History Letter Spacing"
                },
                {
                    "type": "font",
                    "id": "title-font",
                    "label": "Title Font"
                },
                {
                    "type": "font",
                    "id": "description-font",
                    "label": "Description Font"
                },
                {
                    "type": "font",
                    "id": "history-font",
                    "label": "History Font"
                },
                {
                    "type": "range",
                    "id": "description-width",
                    "min": 50,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 100,
                    "label": "Description Width"
                },
                {
                    "type": "range",
                    "id": "history-width",
                    "min": 50,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 100,
                    "label": "History Width"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ]
}
{% endschema %}