{% for block in section.blocks %}
    {% case block.type %}
        {% when "image-and-text-tile" %}
            <section class="block-parent-{{ block.id }}">
                <div class="image-text-tile-container-{{ block.id }}">
                    {% if block.settings.selected-layout == "image-first" %}
                        <div class="image-text-tile-image-container-{{ block.id }} item-{{ block.id }}">
                            <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: 'master' }}">
                        </div>
                        <div class="image-text-tile-text-container-{{ block.id }} item-{{ block.id }}">
                            {{ block.settings.text }}
                            <a class="text-tile-btn-{{ block.id }}" href="{{ block.settings.button-url | url_encode }}">
                                {{ block.settings.button-label }}
                            </a>
                        </div>
                    {% else %}
                        <div class="image-text-tile-text-container-{{ block.id }} item-{{ block.id }}">
                            {{ block.settings.text }}
                            <a class="text-tile-btn-{{ block.id }}" href="{{ block.settings.button-url | url_encode }}">
                                {{ block.settings.button-label }}
                            </a>
                        </div>
                        <div class="image-text-tile-image-container-{{ block.id }} item-{{ block.id }}">
                            <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: 'master' }}">
                        </div>
                    {% endif %}
                </div>
            </section>
        {% when 'spacer' %}
            <section class="custom-spacer-{{ block.id }}">

            </section>
    {% endcase %}
{% endfor %}

<style>
{% for block in section.blocks %}
    {% case block.type %}
        {% when "image-and-text-tile" %}
            .block-parent-{{ block.id }}{
                display: flex;
                justify-content: center;
            }
            .image-text-tile-container-{{ block.id }} {
                display: flex;
            }

            {% if block.settings.width == "600" %}
                .image-text-tile-container-{{ block.id }} {
                    width: 600px;
                }
                
            {% elsif block.settings.width == "900" %}
                .image-text-tile-container-{{ block.id }} {
                    width: 900px;
                }
                
            {% else %}
                .image-text-tile-container-{{ block.id }} {
                    width: 100%;
                }
            {% endif %}

            .item-{{ block.id }} {
                width: 50%;
            }
            .image-{{ block.id }}{
                width: 100%;
                height: 100%;
            }
            
            .image-text-tile-text-container-{{ block.id }} {
                height: inherit;
                overflow: hidden;
                font-size: {{ block.settings.text-font-size }}px;
                line-height: {{ block.settings.text-line-height }};
                letter-spacing: {{ block.settings.text-letter-spacing }}px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 45px;
                background-color: {{ block.settings.bg-color }};
                color: {{ block.settings.text-font-color }};
            }
            {% if block.settings.text-layout-center == false %}
                .image-text-tile-text-container-{{ block.id }} {
                    justify-content: start;
                }
                .image-text-tile-text-container-{{ block.id }} {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                {% if block.settings.selected-layout == "image-first" %}
                    .image-text-tile-text-container-{{ block.id }} {
                        padding-right: 0px;
                    }
                {% else %}
                    .image-text-tile-text-container-{{ block.id }} {
                        padding-left: 0px;
                    }
                {% endif %}
            {% endif %}
            .image-text-tile-text-container-{{ block.id }} p {
                margin: 0;
            }
            .text-tile-btn-{{ block.id }} {
                background-color: {{ block.settings.button-background-color }};
                color: {{ block.settings.button-text-color }};
                border: none;
                border-radius: 30px;
                padding: 0.5em 1.5em;
                text-decoration: none;
                font-weight: bold;
                font-size:{{ block.settings.text-font-size }}px;
                align-self: flex-start;
                margin-top: 40px;
            }

            {% if block.settings.show-button == false %}
                .text-tile-btn-{{ block.id }} {
                    display: none;
                }
            {% endif %}

            {% if block.settings.make-image-larger == true %}
                .image-text-tile-image-container-{{ block.id }} {
                    width: 65%;
                }
                .image-text-tile-text-container-{{ block.id }} {
                    width: 35%;
                }

            {% endif %}
        {% when 'spacer' %}
            .custom-spacer-{{ block.id }} {
                height: {{ block.settings.spacer }}px;
            }
    {% endcase %}
        
{% endfor %}

</style>    

{% schema %}
{
    "name": "image-text-tile",
    "blocks": [
        {
            "name": "Image and Text Tile",
            "type": "image-and-text-tile",
            "settings": [
                {
                    "type": "select",
                    "id": "width",
                    "label": "Select Section Width",
                    "options": [
                        {
                            "value": "600",
                            "label": "Small"
                        },
                        {
                            "value": "900",
                            "label": "Medium"
                        },
                        {
                            "value": "100",
                            "label": "Full Width"
                        }
                    ],
                    "default": "100"
                },
                {
                    "type": "select",
                    "id": "selected-layout",
                    "label": "Select Section Layout",
                    "default": "image-first",
                    "options": [
                        {
                            "value": "image-first",
                            "label": "Image First Layout"
                        },
                        {
                            "value": "text-first",
                            "label": "Text First Layout"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "checkbox",
                    "id": "make-image-larger",
                    "default": false,
                    "label":  "Make Image Larger"
                },
                {
                    "type": "checkbox",
                    "id": "text-layout-center",
                    "default": true,
                    "label": "Text Centered" 
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Add Text"
                },
                {
                    "type": "color",
                    "id": "bg-color",
                    "label": "Choose text background color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "range",
                    "id": "text-font-size",
                    "min": 6,
                    "max": 32,
                    "step": 1,
                    "unit": "px",
                    "default": 14,
                    "label": "Font Size"
                },
                {
                    "type": "range",
                    "id": "text-line-height",
                    "min": 1,
                    "max": 4,
                    "step": 0.1,
                    "unit": "num",
                    "default": 1.5,
                    "label": "Line Height"
                },
                {
                    "type": "range",
                    "id": "text-letter-spacing",
                    "min": 0,
                    "max": 5,
                    "step": 0.50,
                    "unit": "px",
                    "default": 0.50,
                    "label": "Letter Spacing"
                },
                {
                    "type": "color",
                    "id": "text-font-color",
                    "label": "Font Color",
                    "default": "#000000"
                },
                {
                    "type": "checkbox",
                    "id": "show-button",
                    "label": "Show Button",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "button-label",
                    "label": "Button Label",
                    "default": "Shop The Look"
                },
                {
                    "type": "url",
                    "id": "button-url",
                    "label": "Button URL"
                },
                {
                    "type": "color",
                    "id": "button-text-color",
                    "label": "Button Text Color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "color",
                    "id": "button-background-color",
                    "label": "Button Background Color",
                    "default": "#000000"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Image Text Tile"
        }
    ]
}
{% endschema %}
