<section class="text-container {{ section.settings.text-layout-style }}">
    {% if section.settings.text-layout-style == "decorated" %}
        <p>{{ section.settings.text-content }}</p>
    {% else %}
        {{ section.settings.text-content }}
    {% endif %}
</section>

<style>
    .text-container {
        font-size: {{ section.settings.text-font-size }}px;
        padding: 0 {{ section.settings.text-padding }}% ;
        font-family: {{ section.settings.text-font-picker }};
        color: {{ section.settings.text-font-color }}
    }
    .text-container.multi {
        column-count: 2;
        column-fill: balance;
        column-gap: 20px;
    }
    .text-container.multi p {
        margin: 0;
    }
    .text-container.decorated p {
        margin: 0;
    }
    .text-container.decorated > p {
        border-left: 2px solid {{ section.settings.border-color }};
        padding-left: 20px;
    }
</style>

{% schema %}
{
    "name": "Text Section",
    "settings": [
        {
            "type": "richtext",
            "id": "text-content",
            "label": "Text Content"
        },
        {
            "type": "range",
            "id": "text-font-size",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 16,
            "label": "Font Size"
        },
        {
            "type": "select",
            "id": "text-layout-style",
            "label": "Text Layout",
            "options": [
                {"value": "multi", "label": "Mutlitcolumn"},
                {"value": "normal", "label": "Normal"},
                {"value": "decorated", "label": "Decorated"}
            ]
        },
        {
            "type": "range",
            "id": "text-padding",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "%",
            "default": 0,
            "label": "Text Padding"
        },
        {
            "type": "font_picker",
            "id": "text-font-picker",
            "label": "Font Picker",
            "default": "helvetica_n4"
        },
        {
            "type": "color",
            "id": "text-font-color",
            "label": "Font Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "border-color",
            "label": "Border Color",
            "default": "#000000"
        }
    ],
    "presets": [
        {
            "name": "My-text-section"
        }
    ]
}
{% endschema %}