<section class="text-container {{ section.settings.text-layout-style }}">
    {{ section.settings.text-content }}
</section>

<style>
    .text-container {
        font-size: {{ section.settings.text-font-size }}px;
        padding: 0 {{ section.settings.text-padding }}% ;
        font-family: {{ section.settings.text-font-picker }}
    }
    .text-container.multi {
        column-count: 2;
        column-fill: balance;
        column-gap: 20px;
    }
</style>

{% schema %}
{
    "name": "Text Section",
    "settings": [
        {
            "type": "text",
            "id": "text-content",
            "label": "Text Content",
            "default": "Example Text"
        },
        {
            "type": "range",
            "id": "text-font-size",
            "min": 0,
            "max": 50,
            "step": 1,
            "unit": "px",
            "default": 16,
            "label": "Font Size"
        },
        {
            "type": "select",
            "id": "text-layout-style",
            "label": "Text Layout",
            "options": [
                {"value": "multi", "label": "Mutlitcolumn"},
                {"value": "normal", "label": "Normal"}
            ]
        },
        {
            "type": "range",
            "id": "text-padding",
            "min": 0,
            "max": 80,
            "step": 1,
            "unit": "%",
            "default": 0,
            "label": "Text Padding"
        },
        {
            "type": "font_picker",
            "id": "text-font-picker",
            "label": "Font Picker",
            "default": "helvetica_n4"
        }
    ]
}
{% endschema %}