{% for block in section.blocks %}
    {% case block.type %}
        {% when "image-and-text-tile" %}
            <section class="block-parent-{{ block.id }}">
                <div class="image-text-tile-container-{{ block.id }}">
                    {% if block.settings.selected-layout == "image-first" %}
                        <div class="image-text-tile-image-container-{{ block.id }} item-{{ block.id }}">
                            <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: 'master' }}">
                        </div>
                        <div class="image-text-tile-text-container-{{ block.id }} item-{{ block.id }}">
                            <div class="title-{{ block.id }}">{{ block.settings.title }}</div>
                            <div class="description-{{ block.id }}">{{ block.settings.text }}</div>
                            <a class="text-tile-btn-{{ block.id }}" href="{{ block.settings.button-url | url_encode }}">
                                {{ block.settings.button-label }}
                            </a>
                        </div>
                    {% else %}
                        <div class="image-text-tile-text-container-{{ block.id }} item-{{ block.id }}">
                            <div class="title-{{ block.id }}">{{ block.settings.title }}</div>
                            <div class="description-{{ block.id }}">{{ block.settings.text }}</div>
                            <a class="text-tile-btn-{{ block.id }}" href="{{ block.settings.button-url | url_encode }}">
                                {{ block.settings.button-label }}
                            </a>
                        </div>
                        <div class="image-text-tile-image-container-{{ block.id }} item-{{ block.id }}">
                            <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: 'master' }}">
                        </div>
                    {% endif %}
                </div>
            </section>
        {% when 'spacer' %}
            <section class="custom-spacer-{{ block.id }}">

            </section>
    {% endcase %}
{% endfor %}

<style>
{% for block in section.blocks %}
    {% case block.type %}
        {% when "image-and-text-tile" %}
            .block-parent-{{ block.id }}{
                display: flex;
                justify-content: center;
            }
            .image-text-tile-container-{{ block.id }} {
                display: flex;
            }

            {% if block.settings.width == "600" %}
                .image-text-tile-container-{{ block.id }} {
                    width: 600px;
                }
                
            {% elsif block.settings.width == "900" %}
                .image-text-tile-container-{{ block.id }} {
                    width: 900px;
                }
                
            {% else %}
                .image-text-tile-container-{{ block.id }} {
                    width: 100%;
                }
            {% endif %}

            .item-{{ block.id }} {
                width: 50%;
            }
            .image-{{ block.id }}{
                width: 100%;
                height: 100%;
            }
            
            .image-text-tile-text-container-{{ block.id }} {
                height: inherit;
                overflow: hidden;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                padding: 80px;
                background-color: {{ block.settings.bg-color }};
            }
            .description-{{ block.id }} {
                font-size: {{ block.settings.text-font-size }}px;
                line-height: {{ block.settings.text-line-height }}px;
                color: {{ block.settings.text-font-color }};
                width: {{ block.settings.text-width }}%;
                text-align: justify;
            }
            .title-{{ block.id }} {
                font-size: {{ block.settings.title-font-size }}px;
                line-height: {{ block.settings.title-line-height }}px;
                color: {{ block.settings.title-font-color }};
                font-weight: {{ block.settings.title-font-weight }};
                padding-bottom: 55px;
            }
            {% if block.settings.text-layout-center == false %}
                .image-text-tile-text-container-{{ block.id }} {
                    justify-content: start;
                }
                .image-text-tile-text-container-{{ block.id }} {
                    padding-top: 0px;
                    padding-bottom: 0px;
                }

                {% if block.settings.selected-layout == "image-first" %}
                    .image-text-tile-text-container-{{ block.id }} {
                        padding-right: 0px;
                    }
                {% else %}
                    .image-text-tile-text-container-{{ block.id }} {
                        padding-left: 0px;
                    }
                {% endif %}
            {% endif %}
            .image-text-tile-text-container-{{ block.id }} p {
                margin: 0;
            }
            .text-tile-btn-{{ block.id }} {
                color: {{ block.settings.button-text-color }};
                font-size:{{ block.settings.text-font-size }}px;
                text-decoration: none;
                text-transform: uppercase;
                padding-bottom: 7px;
                border-bottom: 1px solid #2b2724;
                margin-top: 86px;
            }

            {% if block.settings.show-button == false %}
                .text-tile-btn-{{ block.id }} {
                    display: none;
                }
            {% endif %}

            {% if block.settings.make-image-larger == true %}
                .image-text-tile-image-container-{{ block.id }} {
                    width: 65%;
                }
                .image-text-tile-text-container-{{ block.id }} {
                    width: 35%;
                }

            {% endif %}
            @media (max-width: 768px) {
                .description-{{ block.id }} {
                    font-size: {{ block.settings.text-mobile-font-size }}px;
                    line-height: {{ block.settings.text-mobile-line-height }}px;
                    width: {{ block.settings.text-mobile-width }}%;
                }
                .title-{{ block.id }} {
                    font-size: {{ block.settings.title-mobile-font-size }}px;
                    line-height: {{ block.settings.title-mobile-line-height }}px;
                }
                .text-tile-btn-{{ block.id }} {
                    font-size:{{ block.settings.text-mobile-font-size }}px;
                }
            }
        {% when 'spacer' %}
            .custom-spacer-{{ block.id }} {
                height: {{ block.settings.spacer }}px;
            }
    {% endcase %}
        
{% endfor %}

</style>    

{% schema %}
{
    "name": "Ninety Image Text Tile",
    "blocks": [
        {
            "name": "Image and Text Tile",
            "type": "image-and-text-tile",
            "settings": [
                {
                    "type": "select",
                    "id": "width",
                    "label": "Select Section Width",
                    "options": [
                        {
                            "value": "600",
                            "label": "Small"
                        },
                        {
                            "value": "900",
                            "label": "Medium"
                        },
                        {
                            "value": "100",
                            "label": "Full Width"
                        }
                    ],
                    "default": "100"
                },
                {
                    "type": "select",
                    "id": "selected-layout",
                    "label": "Select Section Layout",
                    "default": "image-first",
                    "options": [
                        {
                            "value": "image-first",
                            "label": "Image First Layout"
                        },
                        {
                            "value": "text-first",
                            "label": "Text First Layout"
                        }
                    ]
                },
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "checkbox",
                    "id": "make-image-larger",
                    "default": false,
                    "label":  "Make Image Larger"
                },
                {
                    "type": "checkbox",
                    "id": "text-layout-center",
                    "default": true,
                    "label": "Text Centered" 
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Add Title"
                },
                {
                    "type": "range",
                    "id": "title-font-size",
                    "min": 6,
                    "max": 32,
                    "step": 1,
                    "unit": "px",
                    "default": 26,
                    "label": "Title Font Size"
                },
                {
                    "type": "range",
                    "id": "title-mobile-font-size",
                    "min": 6,
                    "max": 32,
                    "step": 1,
                    "unit": "px",
                    "default": 26,
                    "label": "Title Font Size (Mobile)"
                },
                {
                    "type": "range",
                    "id": "title-line-height",
                    "min": 1,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 37,
                    "label": "Title Line Height"
                },
                {
                    "type": "range",
                    "id": "title-mobile-line-height",
                    "min": 1,
                    "max": 50,
                    "step": 1,
                    "unit": "px",
                    "default": 37,
                    "label": "Title Line Height (Mobile)"
                },
                {
                    "type": "color",
                    "id": "title-font-color",
                    "label": "Title Font Color",
                    "default": "#000000"
                },
                {
                    "type": "range",
                    "id": "title-font-weight",
                    "label": "Title Font Weight",
                    "min": 100,
                    "max": 900,
                    "step": 100,
                    "default": 400,
                    "unit": "num"
                },
                {
                    "type": "richtext",
                    "id": "text",
                    "label": "Add Description"
                },
                {
                    "type": "color",
                    "id": "bg-color",
                    "label": "Choose text background color",
                    "default": "#FFFFFF"
                },
                {
                    "type": "range",
                    "id": "text-font-size",
                    "min": 6,
                    "max": 32,
                    "step": 1,
                    "unit": "px",
                    "default": 16,
                    "label": "Description Font Size"
                },
                {
                    "type": "range",
                    "id": "text-mobile-font-size",
                    "min": 6,
                    "max": 32,
                    "step": 1,
                    "unit": "px",
                    "default": 16,
                    "label": "Description Font Size (Mobile)"
                },
                {
                    "type": "range",
                    "id": "text-line-height",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 28,
                    "label": "Description Line Height"
                },
                {
                    "type": "range",
                    "id": "text-mobile-line-height",
                    "min": 1,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 28,
                    "label": "Description Line Height (Mobile)"
                },
                {
                    "type": "range",
                    "id": "text-width",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 100,
                    "label": "Description Width"
                },
                {
                    "type": "range",
                    "id": "text-mobile-width",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 100,
                    "label": "Description Width (Mobile)"
                },
                {
                    "type": "color",
                    "id": "text-font-color",
                    "label": "Description Font Color",
                    "default": "#000000"
                },
                {
                    "type": "checkbox",
                    "id": "show-button",
                    "label": "Show Button",
                    "default": false
                },
                {
                    "type": "text",
                    "id": "button-label",
                    "label": "Button Label",
                    "default": "Shop The Look"
                },
                {
                    "type": "url",
                    "id": "button-url",
                    "label": "Button URL"
                },
                {
                    "type": "color",
                    "id": "button-text-color",
                    "label": "Button Text Color",
                    "default": "#2b2724"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Ninety Image Text Tile"
        }
    ]
}
{% endschema %}
