
<div id="wrapper-{{ section.id }}"> 
    <section class="our-material-{{ section.id }}">
        <div class="image-container-{{ section.id }}">
            <img class="image-{{ section.id }}" src="{{ section.settings.image | img_url: 'master' }}">
        </div>
        <div class="text-container-{{ block.id }}">
            {% for block in section.blocks %}
                {% case block.type %}
                    {% when 'text' %} 
                        <div class="text-{{ block.id }}">
                            {{ block.settings.text }}
                        </div>
                    {% when 'spacer' %}
                        <section class="custom-spacer-{{ block.id }}">
            
                        </section>
                {% endcase %}
            {% endfor %}
        </div>
    </section>
</div>

<style>
    .our-material-{{ section.id }} {
        display: flex;
    }
    .image-{{ section.id }} {
        width: {{ section.settings.image-width }}%;
    }
    .image-container-{{ section.id }} {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    {% for block in section.blocks %}
        {% case block.type %}
            {% when 'text' %}
                .text-container-{{ block.id }} {
                    width: 100%;
                }
                .text-{{ block.id }} {
                    font-size: {{ block.settings.font-size }}px;
                    line-height: {{ block.settings.line-height }}px;
                    letter-spacing: {{ block.settings.letter-spacing }}em;
                    font-family: {{ block.settings.font }};
                    width: {{ block.settings.text-width }}%;
                }

                @media (max-width: 768px) {
                    
                }
            {% when 'spacer' %}
                .custom-spacer-{{ block.id }} {
                    height: {{ block.settings.spacer }}px;
                }
        {% endcase %}
    {% endfor %}
</style>

{% schema %}
{
    "name": "Our Material - Hero",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
        },
        {
            "type": "range",
            "id": "image-width",
            "min": 30,
            "max": 100,
            "step": 1,
            "unit": "%",
            "default": 70,
            "label": "Image Width"
        }
    ],
    "blocks": [
        {
            "name": "Text",
            "type": "text",
            "settings": [
                {
                    "type": "range",
                    "id": "block-width",
                    "min": 30,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 85,
                    "label": "Block Width"
                },
                {
                    "type": "text",
                    "id": "text",
                    "label": "Text"
                },
                
                {
                    "type": "range",
                    "id": "font-size",
                    "min": 14,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 16,
                    "label": "Font Size"
                },
                {
                    "type": "range",
                    "id": "line-height",
                    "min": 10,
                    "max": 100,
                    "step": 1,
                    "unit": "px",
                    "default": 37,
                    "label": "Line Height"
                },
                {
                    "type": "range",
                    "id": "letter-spacing",
                    "min": -1,
                    "max": 5,
                    "step": 0.1,
                    "unit": "em",
                    "default": 0,
                    "label": "Letter Spacing"
                },
                {
                    "type": "font",
                    "id": "font",
                    "label": "Font"
                },
                {
                    "type": "range",
                    "id": "text-width",
                    "min": 20,
                    "max": 100,
                    "step": 1,
                    "unit": "%",
                    "default": 100,
                    "label": "Width"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 300,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Hero Our Material"
        }
    ]
}
{% endschema %}