<section>
    <div class="image-container-{{ section.id }}">
        <img class="image-{{ section.id }}" src="{{ section.settings.image | img_url: "master" }}">
    </div>
    <div class="text-container-image-section-{{ section.id }}">
        <p>
            Model wears <a href="{{ section.settings.wearing-url | url_encode }}">{{ section.settings.wearing-text }}</a>
            with <a href="{{ section.settings.with-url-1 | url_encode }}">{{ section.settings.with-text-1 }}</a> and
            <a href="{{ section.settings.with-url-2 | url_encode }}">{{ section.settings.with-text-2 }}</a>
        </p>
    </div>
</section>
<style>
    .image-container-{{ section.id }} {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .image-{{ section.id }} {
        width: {{ section.settings.image-size }}% ;
    }
    .text-container-image-section-{{ section.id }} {
        display: flex;
        justify-content: center;
        position: relative;
        font-size: 12px;
    }
    .text-container-image-section-{{ section.id }} p {
        position: absolute;
        margin: 0;
    }

    {% if section.settings.image-size == "50" %}
        .text-container-image-section-{{ section.id }} p {
            left: 25%;
        }
    {% elsif section.settings.image-size == "70" %}
        .text-container-image-section-{{ section.id }} p {
            left: 15%;
        }
    {% else %}
        .text-container-image-section-{{ section.id }} p {
            position: relative;
        }
    {% endif %}
</style>

{% schema %}
{
    "name": "Single Image With Caption",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Select Image"
        },
        {
            "type": "select",
            "id": "image-size",
            "label": "Image Size",
            "default": "50",
            "options": [
                {
                    "value": "50",
                    "label": "Small"
                },
                {
                    "value": "70",
                    "label": "Medium"
                },
                {
                    "value": "100",
                    "label": "Full Width"
                }
            ]
        },
        {
            "type": "url",
            "id": "wearing-url",
            "label": "Wearing URL"
        },
        {
            "type": "text",
            "id": "wearing-text",
            "label": "Model Wears:",
            "default": "Whiting Shirt Cosmic Papaya Check"
        },
        {
            "type": "text",
            "id": "with-text-1",
            "label": "Wearing With 1:",
            "default": "Dean T Shirt Black"
        },
        {
            "type": "url",
            "id": "with-url-1",
            "label": "Wearing With URL 1"
        },
        {
            "type": "text",
            "id": "with-text-2",
            "label": "Wearing With 2:",
            "default": "Pleat Trousers Black"
        },
        {
            "type": "url",
            "id": "with-url-2",
            "label": "Wearing With URL 2"
        }
    ],
    "presets": [
        {
            "name": "Single Image With Caption"
        }
    ]
}
{% endschema %}