{% for block in section.blocks %}
    {% case block.type %}
        {% when "small", "medium", "large" %}
            <section>
                <div class="image-container-{{ block.id }}">
                    <img class="image-{{ block.id }}" src="{{ block.settings.image | img_url: "master" }}">
                </div>
                <div class="text-container-image-section-{{ block.id }}">
                    <p>
                        Model wears <a href="{{ block.settings.wearing-url | url_encode }}">{{ block.settings.wearing-text }}</a>
                        with <a href="{{ block.settings.with-url-1 | url_encode }}">{{ block.settings.with-text-1 }}</a> and
                        <a href="{{ block.settings.with-url-2 | url_encode }}">{{ block.settings.with-text-2 }}</a>
                    </p>
                </div>
            </section>
        {% when 'spacer' %}
            <section class="custom-spacer-{{ block.id }}">

            </section>
    {% endcase %}
{% endfor %}
<style>
    {% for block in section.blocks %}
        {% case block.type %}
            {% when "small", "large", "medium" %}
                .image-container-{{ block.id }} {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                }
                .text-container-image-section-{{ block.id }} {
                    display: flex;
                    justify-content: center;
                    position: relative;
                    font-size: 12px;
                }
                .text-container-image-section-{{ block.id }} p {
                    position: absolute;
                    margin: 0;
                }
                .text-container-image-section-{{ block.id }} a {
                    color: #000000;
                }
        
            {% when "small" %}
                .image-{{ block.id }} {
                    width: 50% ;
                }
                .text-container-image-section-{{ block.id }} p {
                    left: 25%;
                }
            {% when "medium" %}
                .image-{{ block.id }} {
                    width: 70% ;
                }
                .text-container-image-section-{{ block.id }} p {
                    left: 15%;
                }
            {% when "large" %}
                .image-{{ block.id }} {
                    width: 100% ;
                }
                .text-container-image-section-{{ block.id }} p {
                    position: relative;
                }
            {% when 'spacer' %}
                .custom-spacer-{{ block.id }} {
                    height: {{ block.settings.spacer }}px;
                }
        {% endcase %}
    {% endfor %}
</style>

{% schema %}
{
    "name": "Single Image With Caption",
    "blocks":[
        {
            "name": "Small",
            "type": "small",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "url",
                    "id": "wearing-url",
                    "label": "Wearing URL"
                },
                {
                    "type": "text",
                    "id": "wearing-text",
                    "label": "Model Wears:",
                    "default": "Whiting Shirt Cosmic Papaya Check"
                },
                {
                    "type": "text",
                    "id": "with-text-1",
                    "label": "Wearing With 1:",
                    "default": "Dean T Shirt Black"
                },
                {
                    "type": "url",
                    "id": "with-url-1",
                    "label": "Wearing With URL 1"
                },
                {
                    "type": "text",
                    "id": "with-text-2",
                    "label": "Wearing With 2:",
                    "default": "Pleat Trousers Black"
                },
                {
                    "type": "url",
                    "id": "with-url-2",
                    "label": "Wearing With URL 2"
                }
            ]
        },
        {
            "name": "Medium",
            "type": "medium",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "url",
                    "id": "wearing-url",
                    "label": "Wearing URL"
                },
                {
                    "type": "text",
                    "id": "wearing-text",
                    "label": "Model Wears:",
                    "default": "Whiting Shirt Cosmic Papaya Check"
                },
                {
                    "type": "text",
                    "id": "with-text-1",
                    "label": "Wearing With 1:",
                    "default": "Dean T Shirt Black"
                },
                {
                    "type": "url",
                    "id": "with-url-1",
                    "label": "Wearing With URL 1"
                },
                {
                    "type": "text",
                    "id": "with-text-2",
                    "label": "Wearing With 2:",
                    "default": "Pleat Trousers Black"
                },
                {
                    "type": "url",
                    "id": "with-url-2",
                    "label": "Wearing With URL 2"
                }
            ]
        },
        {
            "name": "Large",
            "type": "large",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Select Image"
                },
                {
                    "type": "url",
                    "id": "wearing-url",
                    "label": "Wearing URL"
                },
                {
                    "type": "text",
                    "id": "wearing-text",
                    "label": "Model Wears:",
                    "default": "Whiting Shirt Cosmic Papaya Check"
                },
                {
                    "type": "text",
                    "id": "with-text-1",
                    "label": "Wearing With 1:",
                    "default": "Dean T Shirt Black"
                },
                {
                    "type": "url",
                    "id": "with-url-1",
                    "label": "Wearing With URL 1"
                },
                {
                    "type": "text",
                    "id": "with-text-2",
                    "label": "Wearing With 2:",
                    "default": "Pleat Trousers Black"
                },
                {
                    "type": "url",
                    "id": "with-url-2",
                    "label": "Wearing With URL 2"
                }
            ]
        },
        {
            "name": "Spacer",
            "type": "spacer",
            "settings": [
                {
                    "type": "range",
                    "id": "spacer",
                    "min": 0,
                    "max": 200,
                    "step": 5,
                    "unit": "px",
                    "default": 10,
                    "label": "Height"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Single Image With Caption"
        }
    ]
}
{% endschema %}