<section class="my-radio-image-{{ section.id }}">
    <img src="{{ section.settings.radio-image | img_url: "master" }}">
</section>

<section class="my-track-list-{{ section.id }}">
    <ol>
        {% for block in section.blocks %}
            {% case block.type %}
                {% when 'song' %}
                    <li><span class="list-item-{{ section.id }}"><b>{{ block.settings.song-title }}</b> - {{ block.settings.artist }}</span></li>
            {% endcase %}
        {% endfor %}
    </ol>
</section>

<style>
    .my-radio-image-{{ section.id }}, .my-track-list-{{ section.id }} {
        display: flex;
        justify-content: center;
        align-items : center;
    }
    .my-radio-image-{{ section.id }} img {
        width: {{ section.settings.image-width }}%;
    }
    .my-track-list-{{ section.id }} ol {
        color: {{ section.settings.list-color }};
    }
    .my-track-list-{{ section.id }} li {
        margin-right: 10px;
    }
    span.list-item-{{ section.id }} {
        color: {{ section.settings.list-item-color }};
        margin-left: {{ section.settings.list-item-margin }}px;
    }
</style>

{% schema %}
{
    "name": "Radio Section",
    "settings": [
        {
            "type": "image_picker",
            "id": "radio-image",
            "label": "Image"
        },
        {
            "type": "range",
            "id": "image-width",
            "label": "Image Size",
            "min": 0,
            "max": 100,
            "unit": "%",
            "step": 1,
            "default": 100
        },
        {
            "type": "color",
            "id": "list-color",
            "label": "List Color",
            "default": "#000000"
        },
        {
            "type": "color",
            "id": "list-item-color",
            "label": "List Item Color",
            "default": "#000000"
        },
        {
            "type": "range",
            "id": "list-item-margin",
            "label": "List Item Margin",
            "min": 0,
            "max": 50,
            "unit": "px",
            "step": 1,
            "default": 5
        }
    ],
    "blocks": [
        {
            "name": "Song",
            "type": "song",
            "settings": [
                {
                    "type": "text",
                    "id": "song-title",
                    "label": "Song Title",
                    "default": "Young Again"
                },
                {
                    "type": "text",
                    "id": "artist",
                    "label": "Artist",
                    "default": "Hak Baker"
                }
            ]
        }
    ],
    "presets": [
        {
            "name": "Radio Section"
        }
    ]
}
{% endschema %}